# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Temporary files
tmp/

# Old version of the project
old/
